*{
	box-sizing: border-box;
}
.box{
	height: 500px;
	width: 430px;
	border: 2px solid gray;
	position: absolute;
	left: 550px;
	top: 120px;
}
.box-2{
	position: absolute;
	text-align: center;
	width: 200px;
	height: 35px;
	background-color: #01b3b3;
	font-size: 20px;
	font-weight: 900;
	color: white;
	top: 115px;
	left: 600px;
}
.box-2 p{
	padding-top: 5px;
	margin: 0 auto;
}
.star{
	color: #57c3c3;
}
p{
	font-size: 18px;
	font-weight: 900px;
}
form{
	margin-top: 100px;
	margin-left: 35px;
}
input{
	width: 350px;
	height: 35px;
	padding-left: 20px;
	display: block;
}
button{
	height: 60px;
	width: 350px;
	font-size: 20px;
	text-transform: uppercase;
	color: white;
	background-color: #01c1c1;
	border: none;
	margin-top: 50px;
}